.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  font-family: "Sigmar", cursive;
  /* font-family: "Rowdies", cursive; */
  margin-bottom: 10px;
}

.screen-header__title {
  font-size: 30px;
  font-weight: 600;
}

.screen-header__icons span,
.screen-header__icons img {
  margin-left: 22px;
}

.chat-bubble {
  width: 26px;
  height: 26px;
  position: relative;
  bottom: -8px;
}
